# Python
__pycache__/
*.pyc
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Docker
*.log

# VSCode
.vscode/

# Mac/Linux
.DS_Store

# Secrets
secrets.tfvars
terraform.tfvars